<?xml version="1.0"?>
<launch>

    <!-- Load Robot and run xacro to generate URDF -->
    <param name="robot_description"
        command="xacro $(find camera_robot)/urdf/example_robot.urdf.xacro" />

    <!-- Launch Gazebo ROS -->
    <node name="gazebo" pkg="gazebo_ros" type="gazebo" output="screen" />

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_robot)/robot.rviz"
        required="true" />

    <!-- Spawn Robot in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model camera_robot -y 0" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam command="load" file="$(find camera_robot)/config/config.yaml" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/camera_robot"
        args="slider_joint_position_controller arm_joint_position_controller joint_state_controller" />

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/camera_robot/joint_states" />
    </node>


</launch>